<!DOCTYPE html>
<html lang="fr" ng-app="adminApp">
   <head>
      <title>SB - admin</title>        
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>

      <script src="js/admin.js"></script>
   </head>
   <body>
      <div class="container">

      <h1>Administration</h1>
      <br/>

      <div ng-view=""></div>

      </div>
    </body>
</html>
